.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 185px;
  margin: 50px 0 0 0;
}

.root-color-btn {
  background: none;
  border: none;
}

.scheme-dropdown {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#get-color-btn {
  border: 1px solid lightgrey;
  background: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
}

.image-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.gradient-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gradient-names {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gradient-names > p {
  width: 150px;
  text-align: center;
}

.gradient-element {
  /* background: rgb(139, 13, 13); */
  height: 525px;
  width: 150px;
}
